body {
  font-family: PTSans;
  font-size:  16px;
  font-weight: 500;
  color: #000000;
}
.main-navigation-link {
    letter-spacing: 20px;
    color: #ffffff;
}
.features-item-title {
 font-size:  16px;
 line-height: 42px;
 color: #f7f4f1;
}
.features-item-text {
  font-size:  14px;
  line-height: 24px;
  color: #f7f4f1;
}
h2 {
  font-size:  30px;
  line-height: 42px;
}
.news-preview-text {
  font-size:  14px;
  line-height: 24px;
}
time {
  font-size:  14px;
  line-height: auto;
}
.btn {
  font-size:  14px;
  line-height: 24px;
  color: #ffffff;
}
.under-nav {
  font-size:  14px;
  line-height: 20px;
  color: #000000;
}
.dark {
  color: #000000;
}
.content-selection-choice{
  font-size:  14px;
  line-height: 18px;
}
.catalog-item {
  color: #000000;
}
.buy {
  color: #ffffff;
}
